* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #030303; /* Принудительный черный фон для всей страницы */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}